.assets {
  --left-right-padding: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas: "head" "list";
}

.head {
  grid-area: head;
}

.list {
  grid-area: list;
}