.assets-list__link {
  display: flex;
  justify-content: space-between;

  padding: 0.5rem calc(var(--left-right-padding) / 2);
  border-radius: var(--bradius-300);
  
  font-size: 1rem;
  color: hsl(var(--clr-accent1-800));
  text-decoration: none;
}

.assets-list__link:is(:hover, :focus-visible) {
  background-color: hsl(var(--clr-bg1-300));
}