.portfolios__link {
  display: flex;
  justify-content: space-between;

  padding: 0.5rem calc(var(--left-right-padding) / 2);
  border-radius: var(--bradius-300);

  font-family: var(--ff-base);
  font-weight: var(--fw-base-400);
  font-size: 1rem;
  color: hsl(var(--clr-accent1-800));
  text-decoration: none;
}

.portfolios__link:is(:hover, :focus-visible) {
  background-color: hsl(var(--clr-bg1-300));
}