aside {
  grid-column: content-start / aside-main;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-areas:
    "brand"
    "portfolios-list"
    "nav";
}

.brand {
  grid-area: brand;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.brand__link {
  color: hsl(var(--clr-accent1-800));
  text-decoration: none;
  font-family: var(--ff-title);
  font-size: 2rem;
  font-weight: var(--fw-title-400);
}

.portfolios-list {
  grid-area: portfolios-list;
  background-color: blue;
}

.nav {
  grid-area: nav;
  background-color: yellow;
}