.main {
  grid-column: aside-main / content-end;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    "header"
    "content-container";
  
  padding: 0 1rem 1rem 1rem;

  background-color: hsl(var(--clr-bg1-400));

}

.title {
  grid-area: header;
  padding: 0.7rem 0;
}

.content-container {
  grid-area: content-container;
}