.main {
  --base-padding: 1.4rem;

  grid-column: aside-main / content-end;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    "header"
    "content-container";
  
  padding: 0 var(--base-padding) var(--base-padding) var(--base-padding);

  background-color: hsl(var(--clr-bg1-400));

}

.title {
  grid-area: header;
  padding: calc(var(--base-padding) - 0.3rem) 0;
  /*Line height: 1.6 | 1.6 - 1 = 0.6 | 0.6 / 2 = 0.3 | 0.3rem*/
}

.content-container {
  grid-area: content-container;
}