/*Layout*/

.app-container {
  grid-column: content-start / content-end;

  display: grid;
  grid-template-columns: [content-start] 1fr [aside-main] 4fr [content-end];

  height: 100vh;
  overflow: hidden;

  background-color: hsl(var(--clr-bg1-100));
}